<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1509448613959-44d527dd5d86?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=720&q=80');">
  <div class="container">
    <h2>Make Your Own</h2>
  </div>
</div>

<div class="container">

  <%= simple_form_for(@cocktail) do |f| %>
   <%= f.input :name, placeholder: 'Be creative!', label_html: { :class => "add-cocktail-label" }, input_html: { :class => "add-cocktail" } %>
   <%= f.input :photo %>
   <%= f.input :photo_cache, as: :hidden %>
   <%= f.button :submit, input_html: { :class => "btn btn-light" }  %>
  <% end %>

  <div class="link">
    <%= link_to 'Home', cocktails_path(@cocktail), :class => "home-botton" %>
  </div>

</div>
