<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1424591093900-514bab956faf?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');">
  <div class="container">
    <h2>Add Ingredient to <%= @cocktail.name %></h2>
  </div>
</div>

<div class="container">

  <%= simple_form_for ([@cocktail, @dose]) do |f| %>
    <%= f.association :ingredient, collection: Ingredient.order('name ASC'), required: false, label_html: { :class => "add-cocktail-label" } %>
    <%= f.input :description, placeholder: 'How much do you need?', required: false, label_html: { :class => "add-cocktail-label" }, input_html: { :class => "add-cocktail" } %>
    <%= f.submit 'Add Ingredient', class: "btn btn-light" %>
  <% end %>

  <div class="link">
    <%= link_to 'Home', cocktails_path(@cocktail), class: "home-botton" %>
  </div>

</div>
